.parking-lot-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parking-lot-item-container {
    width: 22rem;
    box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.8);
    text-align: left;
}

.parking-lot-item-anchor {
    color: rgb(251, 236, 152);
}

.parking-lot-item-anchor:visited {
    color: rgb(125, 224, 152);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: darkred;
}

.card-button {
    border: none;
    box-sizing: content-box;
    width: 1rem;
    margin-left: 0.25rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}